@model IdentityModel.Client.UserInfoResponse;

@{
	ViewData["Title"] = "User's Information";
}
<h1>@ViewData["Title"]</h1>

<dl>
	@foreach (var claim in Model.Claims)
	{
			<dt>@claim.Type</dt>
			<dd>@claim.Value</dd>
	}
</dl>

